
@import url('https://fonts.googleapis.com/css?family=Muli');
@import 'variables';
@import 'base';
@import url('~@adobe/aem-core-cif-react-components/dist/main.css');
@import url('~@adobe/cif-product-recs-extension/dist/main.css');
@import '../styles/**/*.scss';
@import './styles/*.scss';

