version: 2.1

orbs:
  codecov: codecov/codecov@1.1.1
  browser-tools: circleci/browser-tools@1.5.3
  node: circleci/node@5.0.2

common:
  integration_test_steps: &integration_test_steps
    steps:
      - checkout
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - restore_cache:
          keys:
            - maven-repo-{{ .Environment.CACHE_VERSION }}-its-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
            - maven-repo-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
      - attach_workspace:
          at: /home/circleci/build
      - run:
          name: Integration tests
          command: node .circleci/ci/it-tests.js
      - save_cache:
          paths:
            - ~/.m2
          key: maven-repo-{{ .Environment.CACHE_VERSION }}-its-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
      - store_test_results:
          path: test-reports
      # Save test results as artifacts
      - store_artifacts:
          path: test-reports
      # Save AEM logs as artifacts
      - store_artifacts:
          path: logs

  docker_auth: &docker_auth
    auth:
      username: $ARTIFACTORY_CLOUD_USER
      password: $ARTIFACTORY_CLOUD_PASS

  install_components: &install_components
    run:
      name: Install CIF Components
      command: |
        if [[ "$CIRCLE_BRANCH" != "" && "$CIRCLE_BRANCH" != "main" ]]; then
          git clone https://github.com/adobe/aem-core-cif-components.git
          cd aem-core-cif-components
          components_branch=$(git ls-remote --heads origin ${CIRCLE_BRANCH})
          if [[ ! -z ${components_branch} ]]; then
            git fetch
            git checkout $CIRCLE_BRANCH
          fi
          mvn -B clean install
          cd react-components
          npm link
          cd ../extensions/product-recs/react-components
          npm link
        fi
      working_directory: ./dependencies

executors:
  cif_executor:
    docker:
      - image: cimg/openjdk:11.0-browsers
  test_executor_cloudready:
    docker:
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-qp:6.4.6-openjdk11
        <<: *docker_auth
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-aem-cloudready:21331-openjdk11
        <<: *docker_auth
  test_executor_655:
    docker:
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-qp:6.4.6-openjdk11
        <<: *docker_auth
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-aem:6.5.23.0-openjdk11
        <<: *docker_auth
  test_executor_660:
    docker:
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-qp:6.4.6-openjdk11
        <<: *docker_auth
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-aem:6.6.6.0-openjdk21
        <<: *docker_auth

jobs:
  build:
    executor: cif_executor
    working_directory: /home/circleci/build
    steps:
      - node/install:
          node-version: '12.14.1'
      - checkout
      - restore_cache:
          keys:
            - maven-repo-v2-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
            - maven-repo-v2-
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - *install_components
      - run:
          name: Build
          command: |
            java -version
            mvn -v
            if [[ "$CIRCLE_BRANCH" != "" && "$CIRCLE_BRANCH" != "main" ]]; then
              mvn -B clean install -PfedDev,classic
            else
              mvn -B clean install -Pclassic
            fi
      - run:
          name: Run Unit Tests (Jest)
          command: npm run ci
          working_directory: ./ui.frontend
      - save_cache:
          paths:
            - ~/.m2
          key: maven-repo-v2-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
      - persist_to_workspace:
          root: /home/circleci/build
          paths:
            - all/target/*.zip
            - classic/all/target/*.zip
            - dependencies/aem-core-cif-components/examples/bundle/target/*.jar
      - store_test_results:
          path: core/target/surefire-reports
      - store_artifacts:
          path: core/target/surefire-reports
      - codecov/upload:
          flags: unittests
      - store_test_results:
          path: ui.frontend/test-results
      - store_artifacts:
          path: ui.frontend/test-results

  integration-test-655:
    executor: test_executor_655
    environment:
      AEM: classic
      TYPE: integration
    parameters:
      classifier:
        default: "classic"
        type: string
    resource_class: large
    working_directory: /home/circleci/build
    <<: *integration_test_steps

  integration-test-660:
    executor: test_executor_660
    environment:
      AEM: lts
      TYPE: integration
    parameters:
      classifier:
        default: "lts"
        type: string
    resource_class: large
    working_directory: /home/circleci/build
    <<: *integration_test_steps

  integration-test-cloudready-with-addon:
    executor: test_executor_cloudready
    environment:
      AEM: cloud
      TYPE: integration
    parameters:
      classifier:
        default: "cloud"
        type: string
    resource_class: large
    working_directory: /home/circleci/build
    <<: *integration_test_steps

  selenium-chrome-cloudready-with-addon:
    executor: test_executor_cloudready
    environment:
      AEM: cloud
      TYPE: selenium
      BROWSER: chrome
    parameters:
      classifier:
        default: "cloud"
        type: string
    resource_class: large
    working_directory: /home/circleci/build
    <<: *integration_test_steps

  selenium-chrome-655:
    executor: test_executor_655
    environment:
      AEM: classic
      TYPE: selenium
      BROWSER: chrome
    parameters:
      classifier:
        default: "classic"
        type: string
    resource_class: large
    working_directory: /home/circleci/build
    <<: *integration_test_steps

  selenium-chrome-660:
    executor: test_executor_660
    environment:
      AEM: lts
      TYPE: selenium
      BROWSER: chrome
    parameters:
      classifier:
        default: "lts"
        type: string
    resource_class: large
    working_directory: /home/circleci/build
    <<: *integration_test_steps

  deploy-sample:
    executor: cif_executor
    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          keys:
            - maven-repo-v2-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
            - maven-repo-v2-
      - run:
          name: Deploy Venia Sample Project to GitHub
          command: |
            echo $GPG_PRIVATE_KEY | base64 --decode | gpg --batch --import
            node .circleci/ci/deploy-venia.js
            rm -rf /home/circleci/.gnupg
            rm -rf /home/circleci/.npmrc

  update-cm:
    executor: cif_executor
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Update CM Repository
          command: |
            node .circleci/ci/update-cm.js

workflows:
  version: 2
  build-and-release:
    jobs:
      - build:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
      - integration-test-655:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build
      - integration-test-660:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build
      - integration-test-cloudready-with-addon:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build
      - selenium-chrome-cloudready-with-addon:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build
      - selenium-chrome-655:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build
      - selenium-chrome-660:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build
      - deploy-sample:
          context:
            - CIF Artifactory Cloud
            - CIF Maven Central
            - CIF GitHub
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^venia(-classic)?-\d+\.\d+\.\d+$/
      - update-cm:
          context:
            - CIF Artifactory Cloud
            - CIF CM Stage
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^venia(-classic)?-\d+\.\d+\.\d+$/
