.searchbar__root .action.search:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 32px;
    color: #757575;
    /* content: "\e615"; */
    font-family: "luma-icons";
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.searchbar__label {
    display: none;
}

.searchbar__root .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input.searchbar__input::placeholder {
    font-size: 14px;
}
input.searchbar__input {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    cursor: text;
}
.search-autocomplete {
    position: absolute;
}
div.searchbar {
    width: 100% !important;
}
div.searchbar__fields.search {
    display: flex;
    justify-content: center;
}
.searchbar__form {
    justify-items: center !important;
}
@media all and (min-width: 769px) {
    .searchbar__form {
        justify-items: stretch !important;
    }
    div.searchbar {
        width: 8.333333% !important;
        margin: 0;
    }
    .searchbar__root {
        position: relative;
        z-index: 4;
    }
    .searchbar__root .searchbar__control {
        border-top: 0;
        margin: 0;
        padding: 0.75em 0;
    }
    .searchbar__root .searchbar__input {
        margin: 0;
        padding-right: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
