.cmp-commerce-download {
    width: 100%;
}

.cmp-commerce-download h2 {
    padding: 20px 0 20px;
}

.cmp-commerce-download table {
    width: 100%;
}

.cmp-commerce-download table tr {
    text-align: left;
}