.category__header {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    display: grid;
}

.category__title {
    color: $venia-text;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.375rem;
    text-align: center;
}

.category__image {
    margin-bottom: 40px;
    background: $venia-grey 50% no-repeat;
    text-align: center;
}

.category__image img {
    height: 460px;
}

.category__style_grid .productcollection__items {
    align-content: start;
    grid-gap: 1rem;
    margin-bottom: 10px;
}

.category__style_list .productcollection__items {
    display: block;
    margin-bottom: 10px;
}

.category__staged {
    background-color: $venia-staged;
    padding: 5px 5px;
    margin: 0 auto 5px;
    text-align: center;
    width: 150px;
}

.marketing-content__row-2 {
    grid-row: 2;
}
