/** The "thumbnail" is a round pil button below the product image in mobile or
 * as a thumbnail to the left of the product image in desktop.
 */
.thumbnail__root {
    border: 1px solid $venia-text;
    border-radius: 50%;
    height: 0.875rem;
    width: 0.875rem;
    box-shadow: 0 0 0 1px #ffffff;
    outline: none;
}

.thumbnail__rootSelected {
    background-color: $venia-text;
}

.thumbnail__image {
    display: none;
}

/* For desktop mode where buttons are an image... */
@media (min-width: 1024px) {
    .thumbnail__root {
        border: 0;
        border-radius: 0;
        height: auto;
        width: auto;
    }

    .thumbnail__rootSelected {
        box-shadow: 0 0 10px 0 $venia-teal;
        background-color: $venia-text;
    }

    .thumbnail__image {
        background-color: $venia-grey;
        border-radius: 2px;
        box-shadow: 0 0 0 1px white;
        display: block;
        height: auto;
        width: 100%;
    }
}

.thumbnailList__root {
    align-content: stretch;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 1rem);
    justify-content: center;
    margin-top: 1rem;
    z-index: 1;
}

@media (min-width: 1024px) {
    .thumbnailList__root {
        align-content: start;
        grid-auto-flow: row;
        grid-gap: 1.5rem;
        grid-template-columns: 1fr;
        margin-top: 0;
    }
}

.carousel__root {
    display: grid;
    grid-template-areas:
        'main'
        'thumbs';
    grid-template-columns: auto;
    grid-template-rows: auto;
}

@media (min-width: 1024px) {
    .carousel__root {
        grid-gap: 1.5rem;
        grid-template-areas: 'thumbs main';
        grid-template-columns: 17fr 80fr;
    }
}

.carousel__imageContainer {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(3, 1fr);
}

.carousel__currentImage {
    background-color: $venia-grey;
    border-radius: 2px;
    width: 100%;
    grid-area: 1 / 1 / 2 / 4;
}

.carousel__chevron-left,
.carousel__chevron-right {
    display: flex;
    outline: none;
    z-index: 1;
}

.carousel__chevron-left {
    justify-content: flex-start;
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 1.625rem;
}

.carousel__chevron-right {
    justify-content: flex-end;
    grid-area: 1 / 3 / 2 / 4;
    margin-right: 1.625rem;
}

@media (min-width: 1024px) {
    .carousel__chevron-left,
    .carousel__chevron-right {
        display: none;
    }
}

.select__wrapper {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-areas: 'input icon';
    grid-template-columns: auto 2.25rem;
    height: 2.25rem;
}

.select__input {
    grid-area: input-start / input-start / input-end / icon-end;
    padding-right: calc(2.25rem - 1px);
}

.quantity__root {
    display: flex;
    flex-direction: column;
}

.richText__root {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0 0.5rem;
}

.richText__root p {
    margin: 0 0 1rem;
}

.richText__root ul {
    list-style-type: disc;
    margin: 0 0 1rem;
    padding-left: 2.5rem;
}

.option__root {
    border-bottom: 1px solid $venia-border;
    margin: 0 1.5rem;
    padding: 1.75rem 0;
}

.option__title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.productFullDetail__root {
    display: block;
}

@media (min-width: 1024px) {
    .productFullDetail__root {
        align-items: start;
        display: grid;
        grid-auto-flow: row;
        grid-template-areas:
            'images title'
            'images actions'
            'images options'
            'images quantity'
            'images cart'
            'images .';
        grid-template-columns: 1.5625fr 1fr;
        grid-template-rows: repeat(5, min-content) 1fr [fold];
        padding: 2.5rem 4rem;
    }
}

.productFullDetail__section {
    border-color: $venia-border;
    border-style: solid;
    border-width: 0 0 1px;
    margin: 0 1.5rem;
    padding: 1.5rem 0;
}

.productFullDetail__giftcardProduct {
    border: 0;
    clear: none;
    padding-top: 0;
}

.giftcardProduct__section {
    margin-bottom: 1rem;
}

.giftcardProduct__section .required {
    color: #c0123f;
}

.productFullDetail__giftcardProduct .giftcardProduct__amount {
    padding-top: 15px;
    border: none;
    margin: 0;
    padding-left: 0;
}

.productFullDetail__giftcardProduct .giftCardForm_root {
    clear: both;
    border-top: 1px #c1c1c1 solid;
    padding-top: 15px;
}

.productFullDetail__giftcardProduct fieldset {
    border: none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.productFullDetail__giftcardProduct .giftcardProduct__fieldset:last-child {
    margin-bottom: 20px;
}

.productFullDetail__giftcardProduct .giftcardProduct__fieldset > .giftcardProduct__field {
    margin: 0 0 20px;
}

.productFullDetail__giftcardProduct .giftcardProduct__fieldset > * {
    letter-spacing: normal;
}

.giftcardProduct__field .required {
    color: red;
    margin-left: 10px;
}

.giftcardProduct__field div.error[generated] {
    margin-top: 7px;
    margin-bottom: 7px;
    color: #e02b27;
}

.productFullDetail__giftcardProduct .giftcardProduct__field:not(.giftcardProduct__text) > .giftcardProduct__label {
    font-weight: 600;
    margin: 0 0 8px;
    display: inline-block;
}

.productFullDetail__giftcardProduct .giftcardProduct__fieldset > .giftcardProduct__field > .giftcardProduct__label {
    font-weight: 600;
    margin: 0 0 8px;
    display: inline-block;
}

.productFullDetail__giftcardProduct .giftcardProduct__field:not(.giftcardProduct__text):nth-child(even) {
    padding-right: 0;
}

.productFullDetail__giftcardProduct .giftcardProduct__field:not(.giftcardProduct__text):nth-child(odd) {
    padding-right: 25px;
}

.productFullDetail__giftcardProduct .giftcardProduct__field:not(.giftcardProduct__text) {
    margin: 0 0 20px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.productFullDetail__giftcardProduct .giftcardProduct__fieldset > .giftcardProduct__field:last-child {
    margin-bottom: 0;
}

.productFullDetail__giftcardProduct textarea {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 1.42857143;
    margin: 0;
    padding: 10px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.productFullDetail__giftcardProduct input[type='text'],
.productFullDetail__giftcardProduct input[type='email'] {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

.productFullDetail__section .required {
    color: $venia-error;
}

.productFullDetail__sectionTitle {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    justify-content: center;
    margin-bottom: 1.5rem;
    text-align: center;
}

.productFullDetail__customizeBundle {
    align-items: center;
    display: flex;
    grid-area: cart;
    justify-content: center;
}

.productFullDetail__title {
    align-items: center;
    display: grid;
    grid-area: title;
    grid-gap: 1rem;
    grid-template-columns: 1fr max-content;
    line-height: 1.5;
    padding: 1rem 1.5rem;
}

@media (min-width: 1024px) {
    .productFullDetail__title {
        padding: 1.5rem;
    }
}

.productFullDetail__productName {
    font-size: 1rem;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .productFullDetail__productName {
        font-size: 1.3125rem;
        font-weight: 400;
    }
}

.productFullDetail__title .price {
    text-align: right;
}

.productFullDetail__root .price {
    display: block;
}

.productFullDetail__root .price .regularPrice {
    text-decoration: line-through;
    font-size: 0.8rem;
}

.productFullDetail__root .price .discountedPrice {
    font-weight: bold;
    color: $venia-teal;
    font-size: 1.2rem;
}

.productFullDetail__root .price .you-save {
    font-size: 0.9rem;
    color: $venia-text-alt;
}

.productFullDetail__root .price .you-save:before {
    display: block;
    content: ' ';
}

.productFullDetail__imageCarousel {
    grid-area: images;
    grid-column: 1 / 2;
    grid-row: 1 / fold;
    margin: 0 auto;
    max-width: 640px;
}

@media (min-width: 1024px) {
    .productFullDetail__imageCarousel {
        margin: 0;
        max-width: 800px;
        padding: 1.5rem 0;
    }
}

.productFullDetail__options {
    grid-area: options;
}

.productFullDetail__quantity {
    grid-area: quantity;
}

.productFullDetail__quantityTitle {}

.productFullDetail__groupedProducts table {
    width: 100%;
}

.productFullDetail__groupedProducts th,
td {
    padding: 15px;
}

.productFullDetail__groupedProducts th,
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.productFullDetail__groupedProducts .price {
    margin-top: 5px;
    font-weight: bold;
}

.productFullDetail__bundleProduct .priceInfo {
    float: right;
}

.productFullDetail__bundleProduct .bundlePrice {
    font-weight: 700;
}

.bundleProduct__quantityTitle {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 1.5rem 0 0.5rem
}

.productFullDetail__bundleProduct select[multiple] {
    width: 75%;
    height: unset;
}

.productFullDetail__bundleProduct .bundleOptionSelect__root {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.productFullDetail__bundleProduct .option__quantity {
    -moz-appearance: textfield;
    margin: 0;
    height: 34px;
    text-align: center;
    width: 54px;
    padding: 1px 9px;
}

.productFullDetail__bundleProduct .option__quantity::-webkit-outer-spin-button,
.productFullDetail__bundleProduct .option__quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.productFullDetail__cartActions {
    align-items: center;
    display: flex;
    grid-area: cart;
    justify-content: center;
}

@media (min-width: 1024px) {
    .productFullDetail__cartActions {
        border-bottom-width: 0;
    }
}

.productFullDetail__description {
    grid-column: 1 / span 1;
    grid-row: fold / span 1;
}

@media (min-width: 1024px) {
    .productFullDetail__description {
        align-self: stretch;
        border-top-width: 1px;
        margin: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.productFullDetail__descriptionTitle {}

.productFullDetail__details {
    grid-column: 2 / span 1;
    grid-row: fold / span 1;
}

@media (min-width: 1024px) {
    .productFullDetail__details {
        align-self: stretch;
        border-top-width: 1px;
        margin: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.productFullDetail__detailsTitle {}

.productFullDetail__related {
    border-bottom-width: 0;
    grid-column: 1 / span 2;
}

.productFullDetail__relatedTitle {}

.productFullDetail__staged {
    grid-column: span 2;
    background-color: $venia-staged;
    padding: 2px 5px;
}

.tile__root {
    border: 1px solid $venia-text;
    border-radius: 2px;
    height: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    min-width: 3rem;
    padding: 0 0.75rem;
}

@media (min-width: 1024px) {
    .tile__root {
        height: 2rem;
        min-width: 2rem;
        padding: 0 0.5rem;
    }
}

.tile__root_selected {
    background-color: $venia-text;
    color: white;
}

.tile__root_focused {}

.tile__root_selected_focused {}

.swatch__root {
    background-color: $venia-grey;
    border-color: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 0;
}

.swatch__root_selected {
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), transparent);
}

.swatch__root_focused {}

.swatch__root_selected_focused {}

.tileList__root {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-top: -1rem;
}

.swatchList__root {}
