.button__root {
    background: none;
    border: 1px solid rgba(var(--color),1);
    border-radius: 1.5rem;
    color: rgba(var(--color),1);
    font-size: 0.75rem;
    font-weight: 600;
    height: 2rem;
    min-width: 7.5rem;
    padding: 0 1rem;
    transition-duration: 384ms;
    transition-property: background-color, color;
    transition-timing-function: var(--venia-anim-standard);
    --color: var(--venia-text);

    :hover {
        --color: var(--venia-teal);
    }

    :focus {
        box-shadow: 0 0 0 2px $venia-teal-light, 0 0 0.5rem 2px rgba($venia-teal, 0.2);
        outline: none;
        transition-duration: 128ms;
        --color: var(--venia-teal);
    }

    :active {
        transition-duration: 128ms;
        --color: var(--venia-teal-dark);
    }

    :disabled {
        pointer-events: none;
        --color: var(--venia-grey-dark);
    }
}

.button__filled {
    background-color: rgba(var(--color),1);
    color: white;
}

.button__content {
    align-items: center;
    display: inline-grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

/* derived classes */

.button__root_normalPriority {
}
.button__root_highPriority {
}

.field__root {
    color: $venia-text;
    display: grid;
}

.field__label {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.375rem 0.125rem;
}

.field__input {
    background: white;
    border: 1px solid $venia-text-alt;
    border-radius: 2px;
    color: $venia-text;
    display: inline-flex;
    flex: 0 0 100%;
    font-size: 1rem;
    height: 2.25rem;
    margin: 0;
    padding: calc(0.375rem - 1px) calc(0.625rem - 1px);
    width: 100%;
    -webkit-appearance: none;

    :focus {
        border-color: $venia-teal;
        box-shadow: 0 0 0 2px $venia-teal-light, 0 0 0.5rem 2px rgba($venia-teal, 0.2);
        outline: none;
    }
}

.fieldIcons__root {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-areas: 'before input after';
    grid-template-columns: auto 1fr auto;
    height: 2.25rem;
}

.fieldIcons__input {
    align-items: center;
    display: flex;
    grid-column: before-start / after-end;
    grid-row: input-start / input-end;
}

.fieldIcons__input > input {
    padding-left: calc(1.875rem * var(--iconsBefore) - -0.375rem - 1px);
    padding-right: calc(1.875rem * var(--iconsAfter) - -0.375rem - 1px);
}

.fieldIcons__before,
.fieldIcons__after {
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
    width: 2.25rem;
}

.fieldIcons__before:empty,
.fieldIcons__after:empty {
    display: none;
}

.fieldIcons__before {
    grid-area: before;
}

.fieldIcons__after {
    grid-area: after;
}

.message__root {
    color: $venia-text;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 0.375rem 0.125rem 0.125rem;
}

.message__root:empty {
    display: none;
}

.message__root_error {
    color: $venia-error;
}

.trigger__root {
}