.block-search .action.search:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 32px;
  color: #757575;
  /* TODO: Get icon from css */
  /* content: "\e615"; */
  font-family: "luma-icons";
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.block-search .action.search > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
input.input-text::placeholder {
  font-size: 14px;
}
input.input-text {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 32px;
  line-height: 1.42857143;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  max-width: 190px;
  box-sizing: border-box;
  cursor: text;
}
.search-autocomplete {
  position: absolute;
}

@media only screen and (max-width: 768px) {
}

@media all and (min-width: 769px) {
  .block-search {
    position: relative;
    z-index: 4;
  }

  .block-search .control {
    border-top: 0;
    margin: 0;
    padding: 0.75em 0;
  }

  .block-search input {
    margin: 0;
    padding-right: 16px;
  }
}
