$color-foreground: #202020;
$color-background: #ffffff;

$venia-anim-bounce: cubic-bezier(0.5, 1.8, 0.9, 0.8);
$venia-anim-in: cubic-bezier(0, 0, 0.2, 1);
$venia-anim-out: cubic-bezier(0.4, 0, 1, 1);
$venia-anim-standard: cubic-bezier(0.4, 0, 0.2, 1);
$venia-border: rgb(224, 224, 224);
$venia-error: rgb(192,  18,  63);
$venia-error-alt: rgb(255,  226,  234);
$venia-font: Muli, -apple-system,  BlinkMacSystemFont,  sans-serif;
$venia-grey: rgb(246,  246,  246);
$venia-grey-dark: rgb(209,  209,  209);
$venia-orange: rgb(241,  99,  33);
$venia-teal: rgb(0,  115,  120);
$venia-teal-alt: rgb(224,  240,  241);
$venia-teal-dark: rgb(0,  104,  108);
$venia-teal-light: rgb(212,  243,  238);
$venia-text: rgb(33,  33,  33);
$venia-text-alt: rgb(112,  112,  112);
$venia-text-hint: rgb(158,  158,  158);
$venia-text-spot: rgb(255,  99,  51);
$venia-warning-dark: rgb(249,  93,  94);
$venia-warning-light: rgb(254,  229,  232);

:root {
    --venia-anim-bounce: cubic-bezier(0.5, 1.8, 0.9, 0.8);
    --venia-anim-in: cubic-bezier(0, 0, 0.2, 1);
    --venia-anim-out: cubic-bezier(0.4, 0, 1, 1);
    --venia-anim-standard: cubic-bezier(0.4, 0, 0.2, 1);
    --venia-border: 224, 224, 224;
    --venia-error: 192, 18, 63;
    --venia-error-alt: 255, 226, 234;
    --venia-font: Muli, -apple-system, BlinkMacSystemFont, sans-serif;
    --venia-grey: 246, 246, 246;
    --venia-grey-dark: 209, 209, 209;
    --venia-orange: 241, 99, 33;
    --venia-teal: 0, 115, 120;
    --venia-teal-alt: 224, 240, 241;
    --venia-teal-dark: 0, 104, 108;
    --venia-teal-light: 212, 243, 238;
    --venia-text: 33, 33, 33;
    --venia-text-alt: 112, 112, 112;
    --venia-text-hint: 158, 158, 158;
    --venia-text-spot: 255, 99, 51;
    --venia-warning-dark: 249, 93, 94;
    --venia-warning-light: 254, 229, 232;
}